:root {
  font-family:monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.app {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: rgb(236, 253, 253);
 background: url(src/image/question.jpg);
 background-size: cover;
 background-repeat: no-repeat;

 
 /*background-color: #d3effb;*/


  header {
    display: flex;
    justify-content: center;
    text-align:center;
    margin-top: 5%;
    

  h1 {
    font-family: 'Press Start 2P', monospace; //just because...
    text-transform: uppercase;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    color:#031e4a ;
    /*background-color: #79aefc;
    background: linear-gradient(
      60deg,
      #53f2a5,
      #25aae1,
      #206b97,
      #30dd8a,
      #2bb673,
      #206b97,
      #25aae1,
      #53f2a5
    ); */
    font-size: 2.5em;
    animation: shadow 5s linear infinite;
   }  
   @keyframes shadow {
    0% {text-shadow: 15px 12px 13px #53f2a5;

    }
    50% {
      text-shadow: -15px 12px 13px #79aefc
    }
    100% {
      text-shadow: 15px 12px 13px #53f2a5;

    }   
  }
;
  h4{
    background-color: #79aefc;
    display: inline-block;
    padding: 0px 13px 0px;
    border: none;
    border-radius: 7px;
    margin-left: 25%;
   }
    
   }
  
  .start-only {
   
    grid-template-columns: repeat(5, 1fr);
    margin-top: 23px;
    justify-content: space-evenly;

  .quiz-description {
    grid-column: 2 /span 3;
    text-align:justify;
    font-size: 1.8em;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Jockey One', sans-serif;
    color: #031e4a ;
  }

  .start-button {
    grid-column: 3 / span 5;
    margin-top:25px ;
    justify-content: center;
    cursor: pointer;
    
    justify-content: center;
    color: #031e4a ;
     background: linear-gradient(
      60deg,
      #53f2a5,
      #25aae1,
      #30dd8a,
      #2bb673,
      #206b97,
      #25aae1,
      #53f2a5
    ); 

    border: none;
    border-radius: 10px;
    font-size: 2em;
    padding: 8px 10px 30px;
    width: 20%;
    height: 55%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    animation: bn53bounce 4s infinite;
    
  }

  @keyframes bn53bounce {
    5%,
    50% {
      transform: scale(1);
    }
  
    10% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1);
    }
  
    20% {
      transform: scale(1) rotate(-5deg);
    }
  
    25% {
      transform: scale(1) rotate(5deg);
    }
  
    30% {
      transform: scale(1) rotate(-3deg);
    }
  
    35% {
      transform: scale(1) rotate(2deg);
    }
  
    40% {
      transform: scale(1) rotate(0);
    }
  }
 
   }
  }

.quiz-container {
  
   justify-content: center;
   font-size: 2em;
   font-weight: bold;
   font-family: 'DotGothic16', sans-serif;
   font-family: 'Jockey One', sans-serif;
   color: #031e4a ;
   /*display: grid;*/
   
    // Add grid-column when quiz is printed.
  
  }

  .hidden{
    display: none ;
  }
  .grid{
    display: grid;
  }
.progress-bar-container {
  width: 100%;
  background-color: #79aefc;
  
}
.progress-bar {
  height: 30px;
  background-color: #7cd797;
  text-align: center;
  line-height: 30px;
  color: white;
  margin-top: 15px;
}

  .submitBtn {
    border: none;
    padding: 0.8em 2.5em;
    margin-left: 4%;
    outline: none;
    color: #fff;
    font-size: 0.6em;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  }
  
  .submitBtn:before,
  .submitBtn:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius:10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(
      60deg,
      #53f2a5,
      #25aae1,
      #206b97,
      #30dd8a,
      #2bb673,
      #206b97,
      #25aae1,
      #53f2a5
    );
  }
  
  .submitBtn:before {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
  }
  
  .submitBtn:after {
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
   
  }
  
  .submitBtn:hover:before {
    width: 115%;
    height: 115%;
  }



 label{
  padding: 10px 0;
  display:inline-block;
  font-family: 'DotGothic16', sans-serif;
font-family: 'Jockey One', sans-serif;

 }
 input{
  scale: 1.7;
  margin-right: 20px;
  margin-left: 8%;
  
 }
 


 
.sista{
    color: #031e4a;
    /*display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: span 2;*/
    margin-left: 31%;
  }

